services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      - DB_HOST=postgres
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - DEBUG="1"
      - DJANGO_SECRET_KEY="dev-only"
    ports: ["8000:8000"]
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports: ["2345:5432"]
