{% extends "base.html" %} {% block title %}Projects{% endblock %}
{% block content %}
<h1>Project detail</h1>
<form method="get" action="{% url 'project_detail' project.id %}">
  {{ project.name }}{{ project.owner }}
    <ol>
    {% for task in tasks %}
    <li>
      <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
      <a href="{% url 'task_update' task.id %}"><input type="button" value=" Update task" class="btn btn-primary" /></a>
      <a href="{% url 'task_delete' task.id %}"><input type="button" value="Delete task" class="btn btn-primary" /></a>
    </li>
    {% endfor %}
  </ol>
</form>

  <a href="{% url 'project_list' %}" name='project_list' role="button">
              Project list
          </a>
{% endblock %}
